<h1><%= @album.name %></h1>

<h3>Tracks</h3>
<ul>
  <% @tracks = @album.tracks %>
  <%= render @tracks %>
</ul>





<ul>
  <li><%= link_to "Add Track", new_album_track_url(@album) %></li>
  <li><%= link_to "Edit Album", edit_album_url(@album) %></li>
  <li><%= button_to "Delete Album", "/albums/#{@album.id}", method: :delete %></li>
  <li><%= link_to "View All #{@band.name} Albums", band_url(@band) %></li>
</ul>
