<h1><%= @band.name %></h1>

<h3>Albums</h3>
<ul>
  <% @albums = @band.albums %>
  <%= render @albums %>
</ul>

<%= link_to "Add Album", new_band_album_url %>
<%= link_to "Edit Band", edit_band_url(@band) %>
<%= button_to "Delete Band", band_url(@band), method: :destroy %>
<%= link_to "View All Bands", bands_url %>
